<div class="pingsafe-footer" id="mainFooter" data-map-footer-target="footer">
<nav class="pingsafe-nav">

  <%= link_to profile_path, class: "pingsafe-nav-item #{current_page?(profile_path) ? 'pingsafe-nav-item-active' : ''}" do %>
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
      <path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2"/>
      <circle cx="12" cy="7" r="4"/>
    </svg>
    <span>Profile</span>
  <% end %>

    <%= link_to root_path, class: 'pingsafe-nav-item' do %>
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"/>
        <circle cx="12" cy="10" r="3"/>
      </svg>
      <span>Map</span>
    <% end %>

  <%= link_to faq_path, class: "pingsafe-nav-item #{current_page?(faq_path) ? 'pingsafe-nav-item-active' : ''}" do %>
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
      <circle cx="12" cy="12" r="10"/>
      <path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"/>
      <path d="M12 17h.01"/>
    </svg>
    <span>FAQ</span>
  <% end %>
</nav>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
  const footer = document.getElementById('mainFooter');
  if (!footer) return;

  let lastScrollTop = 0;
  const scrollThreshold = 4;

  window.addEventListener('scroll', function() {
    const currentScrollTop = window.pageYOffset || document.documentElement.scrollTop;

    if (currentScrollTop === 0) {
      footer.classList.remove('hidden');
      lastScrollTop = currentScrollTop;
      return;
    }

    if (Math.abs(lastScrollTop - currentScrollTop) <= scrollThreshold) {
        return;
    }

    if (currentScrollTop > lastScrollTop) {
      footer.classList.add('hidden');
    } else {
      footer.classList.remove('hidden');
    }

    lastScrollTop = currentScrollTop <= 0 ? 0 : currentScrollTop; // Evita numeri negativi
  }, false);
});
</script>
