  <header class="pingsafe-header">

      <div class="pingsafe-logo-container">
        <%= image_tag 'logo.png', alt: 'PingSafe', class: 'pingsafe-logo-icon' %>
      </div>
      <h1 class="pingsafe-brand">PingSafe</h1>

  </header>
