<div class="pingsafe-mobile-wrapper">
    <div class="pingsafe-faq-container">
      <div class="pingsafe-form-header">
       <h2 class="pingsafe-form-title">FAQ</h2>
     </div>
   <div class="pingsafe-levels-list">

    <div class="pingsafe-faq-card">
      <h3 class="pingsafe-level-name">What is PingSafe?</h3>
      <p class="pingsafe-level-points">PingSafe is a safety app that allows users to report pickpockets and suspicious individuals in real-time, helping the community stay aware of potential threats in public areas.</p>
    </div>

    <div class="pingsafe-faq-card">
      <h3 class="pingsafe-level-name">How does PingSafe work?</h3>
      <p class="pingsafe-level-points">Users can submit alerts about suspicious behavior or incidents they witness. Other users in the area receive notifications, helping them stay safe and avoid risky situations.</p>
    </div>

    <div class="pingsafe-faq-card">
      <h3 class="pingsafe-level-name">Is PingSafe free to use?</h3>
      <p class="pingsafe-level-points">Yes, PingSafe is free to download and use, although some premium features, such as advanced alerts or safety statistics, may require a subscription.</p>
    </div>

    <div class="pingsafe-faq-card">
      <h3 class="pingsafe-level-name">Do I need to register to use PingSafe?</h3>
      <p class="pingsafe-level-points">Yes, creating an account is required to submit reports and receive alerts. This helps ensure the reliability and accountability of the information shared.</p>
    </div>

</div>
  <div class="pingsafe-footer" data-map-footer-target="footer">
    <%= render "shared/footer2" %>
  </div>
</div>
