@media (max-width: 28rem) {
  .pingsafe-mobile-container {
    max-width: 100%;
  }

  .pingsafe-nav {
    max-width: 100%;
  }
}

.pingsafe-mobile-container {
  min-height: 100vh;
  background-color: #f9fafb;
  display: flex;
  flex-direction: column;
  max-width: 28rem;
  margin: 0 auto;
}
