@media (max-width: 28rem) {
  .pingsafe-mobile-container {
    max-width: 100%;
  }

  .pingsafe-nav {
    max-width: 28rem;
    margin: 0 auto;
  }
}

.pingsafe-mobile-container {
  min-height: 100vh;
  background-color: #f9fafb;
  display: flex;
  flex-direction: column;
  max-width: 28rem;
  margin: 0 auto;
}

.container {
  @media (min-width: 769px) {
    max-width: 428px !important;
    margin: 0 auto !important;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
    position: relative;
    overflow-y: auto; 
    overflow-x: hidden;
    min-height: 100vh;
  }
}
